%% == Erlang Compiler ==

{erl_opts, [debug_info]}.

%% == Dependencies ==

{deps, [
    {jsx, "3.0.0"}
]}.

%% == Xref ==

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_funcqtions
]}.

%% == Plugins ==

{plugins, [rebar3_hex]}.